.container {
  height: calc(100vh - 104px);
  max-height: 100vh;

  width: 100%;
  max-width: 1440px;

  align-self: center;

  display: flex;
  flex-direction: column;

  position: relative;
}

.hero__title {
  font-weight: 100;
  font-size: 70px;
  line-height: 85px;
  letter-spacing: -0.04em;

  margin-top: 220px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.anchor__link {
  display: flex;
  align-items: center;

  align-self: center;

  position: absolute;
  bottom: 50px;

  cursor: pointer;

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.anchor__link p {
  margin-right: 12px;
}

.anchor__link i {
  margin-top: 20px;
  transition: all 0.2s;
}

.anchor__link:hover i {
  transform: translateY(5px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1240px) {
  .float {
    display: none;
  }
}

@media (max-width: 800px) {
  .hero__title {
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -0.04em;

    margin-top: 150px;
  }

  .anchor__link {
    bottom: 120px;
  }
}

@media (max-width: 500px) {
  .hero__title {
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: -0.04em;

    margin-top: 80px;
  }

  .anchor__link {
    bottom: 150px;
  }
}
