.sticky {
  padding: 68px 0 28px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: -40px;
  background-color: rgba(246, 244, 241, 0.25);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 1000;

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  cursor: pointer;
  margin-right: 30px;
}

.icons a:last-of-type {
  margin-right: 0px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  opacity: 0.4;
  letter-spacing: -0.04em;
  font-size: 14px;
}

.nav {
  display: flex;
  gap: 48px;
  align-items: center;
}

.nav__item {
  position: relative;
  letter-spacing: -0.04em;
  font-size: 14px;
  transition: all 0.2s;
}

.nav__item:after,
.mobile__nav__item::after {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: scaleX(0);
  transform-origin: right;

  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);

  background-color: currentColor;

  width: 50%;

  content: '';
}

.nav__item::after,
.selected:after {
  height: 1px;
}

.mobile__nav__item::after,
.mobile__selected::after {
  height: 2px;
}

.nav__item:hover:after,
.mobile__nav__item:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.selected:after,
.mobile__selected::after {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: scaleX(1);
  transform-origin: right;

  background-color: currentColor;

  width: 50%;

  content: '';
}

/* MOBILE NAV */

.mobile__container {
  position: relative;
  width: 100%;

  position: sticky;
  top: 0;

  display: none;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  z-index: 100;
}

.mobile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 32px;

  width: 100%;
}

.mobile__open__menu {
  cursor: pointer;
}

.mobile__menu {
  position: fixed;
  top: 50%;
  left: 0;
  height: 0;
  width: 100vw;
  opacity: 0;
  background: var(--background-color);
  transition: all 0.3s;
  animation-name: mobile;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  display: flex;
  flex-direction: column;

  padding: 20px 32px;
}

.mobile__menu i {
  align-self: flex-end;
  cursor: pointer;
}

.mobile__menu div {
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 120px;
}

.mobile__nav__item {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;

  letter-spacing: -0.08em;

  cursor: pointer;

  margin-bottom: 30px;
  text-align: center;

  position: relative;
}

.mobile__nav__item:last-child {
  margin-bottom: 0;
}

.mobile__date {
  opacity: 0.4;
  letter-spacing: -0.04em;
  font-size: 14px;

  align-self: flex-end;
  margin-top: 120px;
}

@keyframes mobile {
  0% {
    height: 0;
    opacity: 0;
    top: 50%;
  }
  100% {
    height: 100vh;
    top: 0;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .sticky {
    display: none;
  }

  .mobile__container {
    display: flex;
  }
}

@media (max-width: 500px) {
  .mobile__header {
    padding: 20px 16px;
  }
}
